{% extends 'base.html' %}

{% block title %}
    {% if user.is_authenticated %}
        <title>Iniciar Sesion - Musician World</title>
    {% else %}
        <title>404</title>
    {% endif %}
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <tr><td><h1><b>Page not found</b></h1></td></tr>
    {% else %}
        <tr style="height: 50px;"></tr>
        <tr>
            <td style="width: 33%;"></td>
            <td style="width: 34%;">
                <form class="jumbotron" action="" method="POST"> {% csrf_token %}
                    <h5 class="display-4">Inicio de Sesion</h5>
                    {{ form.as_p }}
                    <input type="submit" value="Ingresar" class="btn btn-primary" style="margin-left: 40%;">
                </form>
            </td>
            <td style="width: 33%;"></td>
        </tr>
    {% endif %}
{% endblock content %}