header{
    border-bottom-width: 2px;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;     
    margin-left: -7px;
    margin-right: -7px;
    padding-left: 7px;
    padding-right: 7px;
}

.tr-cat{
    width: 100%;
    height: auto;

}

.tr-cat>td{
    width: 25%;
    height: auto;
}

.td-searchr{
    /*box-shadow: 5px 0px 0px 0px #eeeeee;*/
    width: 60%;
    height: auto;
}

.td-searchl{
    /*box-shadow: 8px 0px 5px 0px rgba(0,0,0,0.2);*/
    width: 10%;
}

.td-searchr>a .td-searchr>p>a{
    text-decoration: none;
    color: black;
}

.card-text>p{
    color: #aaaaaa;
}

.table-content{
    width: 100%;
    margin-top: 7px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.button-cat{
    border-style: none;
    background-color: white;
    outline: none;
    margin: 0px;
    width: 200px;
    height: 53px;
    font-size: 20px;
}

.li-sub{
position:relative;
color: #ffffff;
}
            
.li-sub .button-cat{
display:inline-block;
}
        
.button-cat:hover{
background-color:#ffd5d5;
            
}

.nav-sub .li-sub .ul-sub{
    display:none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position:absolute;
    top:0px;
    left:100%;
    z-index: 1;
}

.nav-sub .li-sub:hover .ul-sub{display:block;}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
display: none;
position: absolute;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
background-color: white;
}
.dropdown:hover .dropdown-content {
display: block;
}