{% load static %}
<html>
    <head>
        <link rel="icon" type="image/ico" href="{% static 'images/logo.png' %}">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" integrity="shaǒǗǓ-MCwǘǗ/SFnGEǗfJTǒGXwEOngsVǖZtǑǖNXFoaoApmYmǗǐi\uXoPkFOJwJǗERdknLPMO" crossorigin="anonymous">
        {% block title %}
        {% endblock title %}
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>

    <body>
        <header style="position: sticky; top: -78px; z-index: 1;">
            <table style="border-collapse: collapse; width: 100%;">
                <tr>
                    <td style="border-bottom: 1px #cccccc solid" colspan="2">
                        <img src="{% static 'images/music_center.png' %}"
                            style="width: 20%; height: 30%;"
                            href="">
                    </td>
                    <td rowspan="2" style="border-bottom: 1px #cccccc solid; text-align: right;">
                        {% if user.is_authenticated %}
                            <a href="{% url 'new' %}"><button class="btn btn-info" style="height: 35px;">Nuevo producto</button></a>
                            <a href="{% url 'signup' %}"><button class="btn btn-light" style="height: 35px;">Nuevo Usuario</button></a>
                            <a href="{% url 'logout' %}"><button class="btn btn-light" style="height: 35px;">Salir</button></a>
                        {% endif %}
                    </td>
                </tr>
                <tr style="background-color: white;">
                    <td>
                        <div class="dropdown">
                            <button class="button-cat">CATEGORIAS</button>
                            <div class="dropdown-content nav-sub">
                                <div class="ul-sub">
                                    <div class="li-sub"><button class="button-cat">AUDIO</button>
                                        <div class="ul-sub">
                                            <div class="li-sub"><a href="{% url 'search' 'Amplificadores' %}"><button class="button-cat">AMPLIFICADORES</button></a></div>
                                            <div class="li-sub"><a href="{% url 'search' 'Bocinas_y_Bafles' %}"><button class="button-cat">BOCINAS Y BAFLES</button></a></div>
                                            <div class="li-sub"><a href="{% url 'search' 'Microfonos' %}"><button class="button-cat">MICROFONOS</button></a></div>
                                        </div>
                                    </div>
                                    <div class="li-sub"><button class="button-cat">CUERDAS</button>
                                        <div class="ul-sub">
                                            <div class="li-sub"><a href="{% url 'search' 'Cuerdas_y_Encordaduras' %}"><button class="button-cat">CUERDAS Y ENCORDADURAS</button></a></div>
                                            <div class="li-sub"><a href="{% url 'search' 'Guitarras_Acusticas' %}"><button class="button-cat">GUITARRAS ACUSTICAS</button></a></div>
                                            <div class="li-sub"><a href="{% url 'search' 'Guitarras_Electricas' %}"><button class="button-cat">GUITARRAS ELECTRICAS</button></a></div>
                                        </div>
                                    </div>
                                    <div class="li-sub"><button class="button-cat">PERCUSIONES</button>
                                        <div class="ul-sub">
                                            <div class="li-sub"><a href="{% url 'search' 'Bongos' %}"><button class="button-cat">BONGOS</button></a></div>
                                            <div class="li-sub"><a href="{% url 'search' 'Baterias' %}"><button class="button-cat">BATERIAS</button></a></div>
                                        </div>
                                    </div>
                                    <div class="li-sub"><button class="button-cat">ALIENTOS</button>
                                        <div class="ul-sub">
                                            <div class="li-sub"><a href="{% url 'search' 'Armonicas' %}"><button class="button-cat">ARMONICAS</button></a></div>
                                            <div class="li-sub"><a href="{% url 'search' 'Saxofones' %}"><button class="button-cat">SAXOFONES</button></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </header>
        <table class="table-content">
            {% block content %}
            {% endblock content %}
        </table>
        <footer class="card-footer text-muted">Autor: Ricardo Daniel Martinez Espinoza</footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>