{% extends 'base.html' %}

{% block title %}
    <title>Borrar Producto - Musician World</title>
{% endblock title %}

{% block content %}
    <tr style="height: 50px;"></tr>
    <tr>
        <td style="width: 33%;"></td>
        <td style="width: 34%;">
            <form class="jumbotron" action="" method="POST"> {% csrf_token %}
                <p>Borrar {{ item.name }}</p>
                <input type="submit" value="Eliminar" class="btn btn-danger" style="margin-left: 40%;">
            </form>
        </td>
        <td style="width: 33%;"></td>
    </tr>
{% endblock content %}