{% extends 'base.html' %}

{% block title %}
    <title>Actualizar Producto - Musician World</title>
{% endblock title %}

{% block content %}
    <tr style="height: 50px;"></tr>
    <tr>
        <td style="width: 33%;"></td>
        <td style="width: 34%;">
            <form class="jumbotron" action="" method="POST"> {% csrf_token %}
                <h1>{{ item.name }}</h1>
                {{ form.as_p }}
                <input type="submit" value="Guardar" class="btn btn-primary" style="margin-left: 40%;">
            </form>
        </td>
        <td style="width: 33%;"></td>
    </tr>
{% endblock content %}