{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Musician World - Tu tienda de musica</title>
{% endblock title %}

{% block content %}
    <tr>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static 'images/banner_1.png' %}" style="padding: 15px; padding-top: 0px;" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/banner_2.png' %}" style="padding: 15px; padding-top: 0px;" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/banner_3.png' %}" style="padding: 15px; padding-top: 0px;" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </tr>

    <tr class="tr-cat">
        <td>
            <a href="{% url 'search' 'Amplificadores' %}"><img src="{% static 'images/amplificadores.png' %}" style="width: 100%; height: auto; margin: 10px;"></a></td>
        <td><a href="{% url 'search' 'Bocinas_y_Bafles' %}"><img src="{% static 'images/bocinas_bafles.png' %}" style="width: 100%; height: auto; margin: 10px;"></a></td>
        <td><a href="{% url 'search' 'Microfonos' %}"><img src="{% static 'images/microfonos.png' %}" style="width: 100%; height: auto; margin: 10px;"></a></td>
        <td><a href="{% url 'search' 'Cuerdas_y_Encordaduras' %}"><img src="{% static 'images/cuerdas_encordaduras.png' %}" style="width: 100%; height: auto; margin: 10px;"></a></td>
    </tr>
    
    <tr class="tr-cat">
        <td><a href="{% url 'search' 'Guitarras_Acusticas' %}"><img src="{% static 'images/guitarras_acusticas.png' %}" style="width: 100%; height: auto; margin: 10px;"></td>
        <td><a href="{% url 'search' 'Guitarras_Electricas' %}"><img src="{% static 'images/guitarras_electricas.png' %}" style="width: 100%; height: auto; margin: 10px;"></a></td>
        <td><a href="{% url 'search' 'Baterias' %}"><img src="{% static 'images/baterias.png' %}" style="width: 100%; height: auto; margin: 10px;"></a></td>
        <td><a href="{% url 'search' 'Bongos' %}"><img src="{% static 'images/bongos.png' %}" style="width: 100%; height: auto; margin: 10px;"></a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="{% url 'search' 'Armonicas' %}"><img src="{% static 'images/armonicas.png' %}" style="width: 100%; height: auto; margin: 10px;"></a></td>
        <td><a href="{% url 'search' 'Saxofones' %}"><img src="{% static 'images/saxofones.png' %}" style="width: 100%; height: auto; margin: 10px;"></a></td>
        <td></td>
    </tr>
    {% endblock content %}