{% extends 'base.html' %}

{% block title %}
    <title>Resultados de la busqueda - Musician World</title>
{% endblock title %}

{% block content %}
    <tr style="height: 10px;"></tr>
    <tr>
        <td style="width: 10%;"></td>
        <td style="width: 45%;"><img src="{{ item.image }}" style="height: 45%;"></td>
        <td style="width: 35%;">
            <div class="jumbotron" style="background-color: white; padding-top: 2px; padding-bottom: 0; margin-left: 15;">
                <h1 class="display-4">{{ item.name }}</h1>
                <br>
                <p class="lead">reseñas: {{ item.reviews }}</p>
                <hr class="my-4">
                <p>${{ item.price }} MXN</p>
                <br>
                <p class="lead" style="color: #aaaaaa">
                    ({{ item.stock }} Unidades disponibles)
                </p>
                <br><br>
                {% if user.is_authenticated %}
                <p>
                    <a href="{% url 'edit_item' item.pk %}"><button class="btn btn-info">Modificar</button></a>
                    <a href="{% url 'delete_item' item.pk %}"><button class="btn btn-danger">Eliminar</button></a>
                </p>
                {% endif %}
            </div>
              
        </td>
        <td style="width: 10%;"></td>
    </tr>
    <tr style="height: 70px;"></tr>
    <tr>
        <td></td>
        <td>
            <h3 style="text-align: center;"><b>DESCRIPCION</b></h3>
            <p style="padding-left: 25px;">{{ item.description }}</p>
        </td>
        <td></td>
    </tr>
{% endblock content %}