{% extends 'base.html' %}

{% block title %}
    <title>Resultados de la busqueda - Musician World</title>
{% endblock title %}

{% block content %}
    <tr style="height: 10px;"></tr>
    {% for item in object_list %}
        <tr>
            <td style="width: 15%;"></td>
            <td class="td-searchl"><a href="{% url 'item' item.pk %}"><div><img src="{{ item.image }}" style="height: 10%;"></div></a></td>
            <td class="td-searchr">
                <a href="{% url 'item' item.pk %}">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title"><b>{{ item.name }}</b></div>
                            <div class="card-text">
                                <p>reseñas: {{ item.reviews }}</p>
                                <br>
                                <p>${{ item.price }} MXN</p>
                            </div>
                        </div>
                    </div>
                </a>
            </td>
            <td style="width: 15%;"></td>
        </tr>
    {% endfor %}
{% endblock content %}